In [25]:
import pandas as pd

In [26]:
data_client = pd.read_csv('Client.csv')

C:\Users\prordija\AppData\Local\Temp\ipykernel_19252\2699837354.py:1: DtypeWarning: Columns (7,23,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  data_client = pd.read_csv('Client.csv')

In [27]:
data_client

,ID,NUTENTA_ID,CREATED_BY,UPDATED_BY,CLIENT_NUMBER,NAME,CONTACT_NAME,PHONE,EMAIL,LATITUDE,...,CONCESSION_TIER,APPLICATION_STATUS,REJECTED_REASON,ACTIVE,VISIT_DAYS,BURO,STORE_SIZE,ALCOHOL_ALLOWED,FRIDGE_NUMBER,STORE_URL
0,55732,NaN,1085.0,1665.0,P01MTY-MTYPRUEBAS-55732,pruebaMTY,SERGIO VELAZQUEZ,8182765929,checo.00@hotmail.com,26,...,NaN,APPROVED,NaN,False,TUESDAY,NaN,NaN,NaN,NaN,NaN
1,55733,NaN,2653.0,625.0,P01MTY-MTYPRUEBAS-55733,Cliente Contado,c,NaN,NaN,19,...,NaN,APPROVED,NaN,False,"MONDAY,TUESDAY,WEDNESDAY,THURSDAY,FRIDAY",NaN,NaN,NaN,NaN,NaN
2,15358,NaN,881.0,842.0,P01MTY-C01MTY-15358,Abarrotes GUILLEN,Oziel,NaN,NaN,26,...,NaN,APPROVED,NaN,False,MONDAY,NaN,NaN,NaN,NaN,NaN
3,20870,NaN,1224.0,1123.0,P01MTY-C01MTY-20870,Abarrotes la pasadita,Jose Juan Guzm√°n,8116754793,NaN,26,...,NaN,APPROVED,NaN,False,TUESDAY,NaN,NaN,NaN,NaN,NaN
4,19838,NaN,1224.0,1123.0,P01MTY-C01MTY-19838,Abarrotes candy,Candelaria Urtade Sandoval,8126449678,NaN,26,...,NaN,APPROVED,NaN,False,TUESDAY,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57446,61823,NaN,2209.0,2209.0,P01GUD-C01GUD-61823,Luis Corona,Luis,NaN,NaN,21,...,NaN,APPROVED,NaN,True,MONDAY,NaN,NaN,NaN,NaN,NaN
57447,61824,NaN,1811.0,2691.0,P01LEO-C01LEO-61824,Abts Martina R03 Ladrilleras,Martina Torres,4775227540.0,NaN,21,...,NaN,APPROVED,NaN,True,MONDAY,NaN,NaN,NaN,NaN,NaN
57448,61799,NaN,2562.0,2102.0,P01CUE-C01CUE-61799,Abarrotes caudillo del sur,Margarita,7771626691.0,NaN,19,...,NaN,APPROVED,NaN,True,MONDAY,NaN,NaN,NaN,NaN,NaN
57449,46196,NaN,2146.0,1722.0,P01MOR-C01MOR-46196,Abarrotes Betty,Beatriz Elias Jacobo,NaN,NaN,20,...,NaN,APPROVED,NaN,True,THURSDAY,NaN,NaN,NaN,NaN,NaN
57450,58554,NaN,1804.0,1722.0,P01MOR-C01MOR-58554,Abarrotes Bety,Mari Guierrez Florez,4434404502.0,NaN,20,...,NaN,APPROVED,NaN,True,MONDAY,NaN,NaN,NaN,NaN,NaN

In [28]:
data_client = data_client.drop("NAME", axis= 1 )
data_client = data_client.drop('CONTACT_NAME', axis=1)
data_client = data_client.drop('PHONE', axis=1)
data_client = data_client.drop('EMAIL', axis=1)
data_client = data_client.drop("STORE_URL", axis=1)
data_client = data_client.drop("NUTENTA_ID", axis=1)
data_client = data_client.drop("STORE_SIZE", axis=1)
data_client = data_client.drop("ALCOHOL_ALLOWED", axis=1)
data_client = data_client.drop("FRIDGE_NUMBER", axis=1)
data_client = data_client.drop("BURO", axis=1)
data_client = data_client.drop("CONCESSION", axis=1)
data_client = data_client.drop("CONCESSION_TIER", axis=1)
data_client = data_client.drop("REJECTED_REASON", axis=1) 
data_client["APPLICATION_STATUS"] = data_client["APPLICATION_STATUS"].replace({'PENDING': 0, 'APPROVED': 1, 'REJECTED': -1})
data_client["ACTIVE"] = data_client["ACTIVE"].replace({False: 0, True:1})
data_client['VISIT_DAYS'] = data_client['VISIT_DAYS'].fillna(0)
data_client['CLIENT_NUMBER'] = data_client['CLIENT_NUMBER'].fillna(0)
data_client['ROUTE_ID'] = data_client['ROUTE_ID'].fillna(0)
data_client['CREATED_BY'] = data_client['CREATED_BY'].fillna(0)
data_client['UPDATED_BY'] = data_client['UPDATED_BY'].fillna(0)

In [29]:
data_client.to_csv("data_client_limpio.csv", index=False)

In [30]:
Order_Item = pd.read_csv('Order_Item.csv')
Order_Item

,ID,SUPPLY_ORDER_ID,PRODUCT_ID,QUANTITY,SUPPLIED_QUANTITY,DELIVERED_QUANTITY,IVA_PERCENTAGE,IEPS_PERCENTAGE,UNIT_PRICE,UNIT_WHOLE_SALE_PRICE,...,TOTAL,IS_RETURNED,RETURNED_QUANTITY,RETURNED_REASON,EXTERNAL_PRICE,SKU,CREATED_AT,UPDATED_AT,CREATED_BY,UPDATED_BY
0,1111885,231482,280,24,24,NaN,1.0,0.0,18,15,...,430,NaN,NaN,NaN,NaN,NaN,2023-05-04T21:13:47.578Z,2023-05-05T03:13:47.748Z,NaN,NaN
1,1111886,231482,242,24,24,NaN,1.0,0.0,7,7,...,156,NaN,NaN,NaN,NaN,NaN,2023-05-04T21:13:47.578Z,2023-05-05T03:13:47.797Z,NaN,NaN
2,1193800,246076,368,2,2,NaN,1.0,0.0,150,150,...,300,NaN,NaN,NaN,NaN,NaN,2023-05-12T19:44:00.751Z,2023-05-13T01:44:00.767Z,NaN,NaN
3,1111880,231502,61,12,12,NaN,1.0,0.0,14,12,...,162,NaN,NaN,NaN,NaN,NaN,2023-05-04T21:14:06.582Z,2023-05-05T03:14:06.599Z,NaN,NaN
4,1111901,231502,337,4,4,NaN,1.0,0.0,37,32,...,148,NaN,NaN,NaN,NaN,NaN,2023-05-04T21:14:06.582Z,2023-05-05T03:14:06.618Z,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2977536,482673,106122,205,4,4,NaN,1.0,0.0,35,33,...,140,NaN,NaN,NaN,NaN,NaN,2023-02-10T18:20:12.461Z,2023-02-11T00:20:12.537Z,NaN,NaN
2977537,482731,106124,97,3,3,NaN,1.0,NaN,17,14,...,51,NaN,NaN,NaN,NaN,NaN,2023-02-10T18:21:42.175Z,2023-02-11T00:21:42.184Z,NaN,NaN
2977538,482732,106124,96,2,2,NaN,1.0,0.0,17,14,...,34,NaN,NaN,NaN,NaN,NaN,2023-02-10T18:21:42.175Z,2023-02-11T00:21:42.187Z,NaN,NaN
2977539,482733,106124,382,2,2,NaN,1.0,0.0,19,15,...,37,NaN,NaN,NaN,NaN,NaN,2023-02-10T18:21:42.175Z,2023-02-11T00:21:42.194Z,NaN,NaN
2977540,482734,106124,384,2,2,NaN,1.0,0.0,19,16,...,37,NaN,NaN,NaN,NaN,NaN,2023-02-10T18:21:42.175Z,2023-02-11T00:21:42.201Z,NaN,NaN

# Tabla Order por terminar

In [31]:
order = pd.read_csv("Order.csv")

C:\Users\prordija\AppData\Local\Temp\ipykernel_19252\3746410103.py:1: DtypeWarning: Columns (28,29,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  order = pd.read_csv("Order.csv")

In [32]:
order = order.drop("ESTIMATED_DELIVERY_DATE", axis=1)

# Tabla Product

In [33]:
df = pd.read_csv("Product.csv")
df

df['NAME'] = df['NAME'].str.lower()
df['SHORT_NAME'] = df['SHORT_NAME'].str.lower()

In [35]:
#df['CREATED_AT'] = pd.to_datetime(df['CREATED_AT'], format='%Y-%m-%d')
#df['UPDATED_AT'] = pd.to_datetime(df['UPDATED_AT'], format='%Y-%m-%d')

In [36]:
# Eliminar espacios en blanco en todas las columnas
df = df.applymap(lambda x: x.strip() if type(x) == str else x)

C:\Users\prordija\AppData\Local\Temp\ipykernel_19252\2325255650.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if type(x) == str else x)

# Eliminar signos de los valores num√©ricos en todas las columnas
def remove_signs(x):
    if isinstance(x, str) and re.match(r'^-?\d+\.?\d*$+', x):
        return re.sub('[^0-9.-]', '', x)
    return x

In [37]:
# Convertir las columnas 'CREATED_AT' y 'UPDATED_AT' al formato de fecha y hora adecuado
df['CREATED_AT'] = pd.to_datetime(df['CREATED_AT'], format='%Y-%m-%dT%H:%M:%S.%f%z')
df['UPDATED_AT'] = pd.to_datetime(df['UPDATED_AT'], format='%Y-%m-%dT%H:%M:%S.%f%z')

# Dar formato a las fechas para una mejor legibilidad
df['CREATED_AT'] = df['CREATED_AT'].dt.strftime('%Y-%m-%d %H:%M:%S')
df['UPDATED_AT'] = df['UPDATED_AT'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [38]:
df['RECOMMENDED'].fillna('NOT_AVAILABLE', inplace=True)  # Reemplaza NaN con 'NOT_AVAILABLE'
df['SHOW_FIRST'].fillna('NOT_AVAILABLE', inplace=True)
df['IS_NEW'].fillna('NOT_AVAILABLE', inplace=True)
df['IS_RETURNABLE'].fillna('NOT_AVAILABLE', inplace=True)
df['NUTENTA'].fillna('NUTENTA', inplace=True)
df['SHOW_FIRST'].fillna('SHOW_FIRST', inplace=True)

In [39]:
df['RECOMMENDED'] = df['RECOMMENDED'].map({'TRUE': 1, 'FALSE': 0, 'NOT_AVAILABLE': -1})
df['SHOW_FIRST'] = df['SHOW_FIRST'].map({'TRUE': 1, 'FALSE': 0, 'NOT_AVAILABLE': -1})
df['IS_NEW'] = df['IS_NEW'].map({'TRUE': 1, 'FALSE': 0, 'NOT_AVAILABLE': -1})
df['IS_RETURNABLE'] = df['IS_RETURNABLE'].map({'TRUE': 1, 'FALSE': 0, 'NOT_AVAILABLE': -1})

In [40]:
df['IS_NEW'].fillna(0, inplace=True)
df['FILE'].fillna(0, inplace=True)
df['IS_RETURNABLE'].fillna(0, inplace=True)
df['SHOW_FIRST'].fillna(0, inplace=True)
df['RECOMMENDED'].fillna(0, inplace=True)

In [ ]:
df.to_csv("Product_limpio.csv", index=False)

In [ ]:
Order_Item = pd.read_csv('Order_Item.csv')

In [ ]:
Order_Item = Order_Item .drop("IEPS_PERCENTAGE", axis= 1 )
Order_Item  = Order_Item .drop('IEPS', axis=1)

Order_Item.dropna(subset=['CREATED_AT'], inplace=True)
Order_Item['CREATED_AT'] = Order_Item['CREATED_AT'].astype(str)
Order_Item['CREATED_AT'] = Order_Item['CREATED_AT'].str.extract(r'(\d{4}-\d{2}-\d{2})')
Order_Item['CREATED_AT'] = pd.to_datetime(Order_Item['CREATED_AT'])

Order_Item.dropna(subset=['UPDATED_AT'], inplace=True)
Order_Item['UPDATED_AT'] = Order_Item['UPDATED_AT'].astype(str)
Order_Item['UPDATED_AT'] = Order_Item['UPDATED_AT'].str.extract(r'(\d{4}-\d{2}-\d{2})')
Order_Item['UPDATED_AT'] = pd.to_datetime(Order_Item['UPDATED_AT'])